* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.text_red {
  color: #db2d2e;
}

.bg_red {
  background-color: #db2d2e;
}

.bg_gray {
  background-color: rgb(56, 56, 56);
}

.active_nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  padding: 10px;
  transition: 0.9s linear;
  animation-name: trans;
  animation-duration: 1s;
  background-color: rgb(56, 56, 56);
  box-shadow: 0px 0px 2px #1b1b1b;
  z-index: 9999999;
}

@keyframes trans {
  0% {
    transform: translateY(-150%);
    background-color: rgb(56, 56, 56);
  }
  100% {
    transform: translateY(0px);
    background-color: rgb(56, 56, 56);
  }
}

.container {
  width: 70%;
  margin: auto;
  /* border: 1px solid red; */
}

.title_border {
  display: block;
  position: relative;
  height: 6px;
  width: 120px;
  background-color: #db2d2e;
  border-radius: 1px;
  box-sizing: border-box;
  overflow: hidden;
}
.title_border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  top: 0;
  margin: auto;
  width: 15px;
  height: 6px;
  background: #fff;
  animation: ballbns 2s linear infinite alternate;
}

@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}

.slider_img {
  width: 350px;
  height: 290px;
  display: block;
  position: relative;
  overflow: hidden;
}

.slider_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.75s;
}
.slider_img:hover img {
  transform: scale(1.1);
  transition: 0.75s;
}

.slider_img .slider_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 4px;
  transform: scale(0.9);
  opacity: 0;
  transition: 0.75s;
}
.slider_img:hover .slider_text {
  transform: scale(1);
  opacity: 1;
}
.swiper-slide {
  width: fit-content !important;
  height: fit-content !important;
}

/* product card */

.card:hover .card_img img {
  transform: scale(1.1);
  transition: 0.75s;
}

header {
  position: relative;
  background-image: url("../src/assets/img/main-bg.jpg");
  background-position: center;
  background-size: cover;
}

/* footer */

footer {
  position: relative;
  background-image: url("../src/assets/img/02.jpg");
  background-position: center;
  background-size: cover;
}
footer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0d0dc4;
  z-index: -1;
}

.footerSpan {
  font-size: 8px;
}

.info_text h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #db2d2e;
  margin-top: 10px;
}
